
body {
    font-size: 16px;
    color: #fff;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #1d2124;
    border-radius: 0;
    border: 0;
}


.navbar-brand {
    padding-top: 25px;
    padding-bottom: 5px;
}

.navbar-brand h1 {
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    color: white;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    text-align: center;
}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ffffff;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/** END HEADER **/

/** MAIN CONTENT **/

.main-content{
    height: 1000px;
    background-color: #1d2124;
    margin: 30px 0 15px 0;
    text-align: justify;
    padding: 20px 20px 0;
}


.heading h1 {
    text-align: center;
    color: #000000;
}



@media (max-width: 767px) {
    /* Header */


    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }


    .main-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}